.heroBanner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


.heroImageContainer {
  position: relative;
  height: 600px;
  width: 80%;
  overflow: hidden;
}
.slider {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.8s ease-in-out;
}
.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.pagination {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
}

.dot {
  width: 2rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.dotActive {
  background-color: var(--color-accent);
}
.flechaLeft,
.flechaRight{
  position: absolute;
  z-index: 10;
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}
.flechaLeft{
  right: 0%;
}
.flechaLeft:hover,
.flechaRight:hover{
  transform: scale(1.1);
}
@media (max-width: 1400px) {
  .heroImageContainer{
    height: 400px;
  }
}
@media (max-width: 1100px) {
  .heroImageContainer{
    height: 300px;
  }
}
@media (max-width: 800px) {
  .heroImageContainer{
    height: 200px;
  }
  .flechaLeft,
  .flechaRight{
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .heroImageContainer{
    height: 150px;
  }
  .dot{
    width: 1rem;
    height: 0.175rem;
  }
}