.nav {
  position: relative;
  display: flex;
  justify-content: center;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 100;
}
.navBarImage{
  position: absolute;
  left: 5px;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navItem {
  position: relative;
}

.navLink {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333;
  padding: 0.5rem;
  transition: color 0.2s;
}
/*
.navItem:hover {
  color: ;
}
*/
.icon {
  margin-left: 0.25rem;
}

.dropdown {
  position: fixed;
  top: 171px;
  left: 0;
  background: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  width: 100vw;
  height: 70vh;
  z-index: 11;
}

.dropdownCategory {
  min-width: 150px;
}

.dropdownTitle {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownLink {
  display: block;
  color: #555;
  padding: 0.25rem 0;
  transition: color 0.2s;
}

.dropdownLink:hover {
  color: var(--color-accent);
}
.remarcado{
  color: var(--color-accent);
}
/* Responsive */
@media (max-width: 768px) {
  .dropdown {
    flex-direction: column;
    position: static;
    box-shadow: none;
    padding: 0.5rem 0;
  }
}
