.promoBanner {
  background-color: #ff5d0c;
  text-align: center;
  padding: 0.5rem;
  color: #333333;
  border-bottom: 1px solid #e0e0e0;
}

.promoText {
  font-size: 0.925rem;
  color: white;
}

.highlight {
  font-weight: bold;
}
@media (max-width: 600px) {
  .promoText{
     font-size: 0.705rem;
  }
}